%amount {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.wrapper {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  .section {
    display: grid;
    grid-template-columns: 70% 25%;
    grid-gap: 5%;
    margin: 0 80px;
  }
  .basket {
    padding: 15px;
    height: max-content;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .amount {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 32%);
      grid-gap: 2%;
      margin-bottom: 15px;
      h1,
      h2,
      p {
        @extend %amount;
      }
      h2 {
        justify-self: center;
      }
      p {
        justify-self: flex-end;
      }
    }
    .name {
      &:not(:nth-child(1)) {
        margin-top: 10px;
      }
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 32%);
      grid-gap: 2%;
      h2 {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
      }
      span {
        justify-self: center;
      }
      p {
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        justify-self: center;
      }
    }
    .btn {
      margin-top: 30px;
      width: 100%;
      height: 30px;
      border-radius: 10px;
      border: 0;
      background: #80eeff;
      color: #fff;
      font-size: 18px;
      font-weight: 24px;
      font-weight: 500;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all linear 0.3s;
      &:hover {
        box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .row {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-gap: 2%;
    .card {
      height: auto;
      padding: 10px;
      border-radius: 10px;
      transition: all linear 0.3s;
      &:hover {
        box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
      }
      .card-head {
        img {
          width: 100%;
          height: 256px;
        }
      }
      .card-bodys {
        margin-top: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        h1 {
          color: #000;
          font-size: 24px;
          font-weight: 28px;
          text-transform: capitalize;
        }
        p {
          color: #000;
          opacity: 0.6;
          font-size: 24px;
          font-weight: 28px;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
      .card-foot {
        margin-top: 15px;
        width: 100%;
        .btn {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          border: 0;
          background: #80eeff;
          color: #fff;
          font-size: 20px;
          font-weight: 24px;
          font-weight: 500;
          text-transform: capitalize;
          cursor: pointer;
          transition: all linear 0.3s;
          &:hover {
            box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2);
          }
        }
        .btnCount {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .inc {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            p {
              font-size: 22px;
              font-weight: bold;
            }
          }
          .dec {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            p {
              font-size: 22px;
              font-weight: bold;
            }
          }
          p {
            font-size: 22px;
            font-weight: bold;
          }
        }
      }
    }
  }
  .empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .name {
    width: 500px;
    height: 500px;
    background-color: orange;
    &:focus-visible {
      outline: none;
    }
  }
  .modal-body {
    background: #fff;
    border-radius:10px ;
    height: max-content;
    width: 440px !important;
    max-width: 440px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:focus-visible {
      outline: none;
    }
    .card{
      .rccs {
        width: 290px !important;
        perspective: 0 !important;
      }
    }
  }
}

.front {
  position: relative;
  transform: rotateY(0deg);
  background-color: red;
}
.back {
  position: relative;
  transform: rotateY(180deg);
  background-color: yellow;
}
.rccs__card {
  height: 182.873px;
  margin-top: 10;
  margin-bottom: 10;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  width: 290px;
  perspective: 0 !important;
  /* background: linear-gradient(
   25deg
, #986, #234); */
}

.front1 {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: red;
}

.back1 {
  transform: rotateY(360deg);
  margin-bottom: 30px !important;
  background-color: yellow;
}
.App-cards-list {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-cards-list > * {
  transform: scale(0.8);
  margin-bottom: 30px !important;
}

.back3 {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url(../../assets//img/6.jpeg);
}
/* rccs-signature-background: repeating-linear-gradient(
  0.1deg,
  #fff 20%,
  #fff 40%,
  #fea 40%,
  #fea 44%,
  #fff 44%
);
rccs-default-background: linear-gradient(25deg, #d32121, #178a63);
rccs-unknown-background: linear-gradient(25deg, rgb(160, 18, 101), #999);
rccs-background-transition: 0.5s;
rccs-animate-background: true; */

.rccs__card--unknown > div {
  background-image: url(../../assets//img/6.jpeg);
}
